# Strings

In [135]:
s1 = "I am a string"

"I am a string"

In [136]:
s2 = """ I am also a string """

" I am also a string "

In [137]:
""" with triple quotes you can insert " without "errors" """

" with triple quotes you can insert \" without \"errors\" "

In [138]:
typeof('a') # defines a single character not a string

Char

## String interpolation

In [139]:
name = "Pierre"
organization = "CNRS"
code = 6625
arrival = 2015

println("Hello, my name is $name.")
println("I have been working at IRMAR $organization $code
    for $(2018 - arrival) years ")

Hello, my name is Pierre.
I have been working at IRMAR CNRS 6625
    for 3 years

## Sring concatenation

In [140]:
string( "Julia ", "Language")

"Julia Language"

In [141]:
string( "Julia ", "Language ", 2018)

"Julia Language 2018"

In [142]:
s1 = " Julia "
s2 = " language "
s3 = " 2018 "

" 2018 "

In [143]:
s1*s2*s3

" Julia  language  2018 "

In [144]:
"$s1$s2$s3"

" Julia  language  2018 "

## Data structures

In [145]:
phonebook = Dict("Pierre" => 34308, "Marie-Aude" => 36040)

Dict{String,Int64} with 2 entries:
  "Pierre"     => 34308
  "Marie-Aude" => 36040

In [146]:
phonebook["Chantal"] = 35041

35041

In [147]:
phonebook

Dict{String,Int64} with 3 entries:
  "Pierre"     => 34308
  "Marie-Aude" => 36040
  "Chantal"    => 35041

values type must be the same for all items.

### Access to `Dict` values

In [148]:
phonebook["Pierre"]

34308

In [149]:
pop!(phonebook,"Chantal")

35041

In [150]:
phonebook

Dict{String,Int64} with 2 entries:
  "Pierre"     => 34308
  "Marie-Aude" => 36040

### Tuples

In [151]:
teams = ("ANANUM","EDP","G&S","GA","GAE","GAN","MECA","PROC-STOC",
 "STAT","THEO-ERG")

("ANANUM", "EDP", "G&S", "GA", "GAE", "GAN", "MECA", "PROC-STOC", "STAT", "THEO-ERG")

In [152]:
teams[1]

"ANANUM"

In [153]:
teams[1:3]

("ANANUM", "EDP", "G&S")

In [154]:
teams[:2]

"EDP"

### Arrays

In [155]:
orgs = ["AGRO", "INSA", "RENNES1", "RENNES2", "INRIA", "EXT", "ENS", "CNRS"]

8-element Array{String,1}:
 "AGRO"
 "INSA"
 "RENNES1"
 "RENNES2"
 "INRIA"
 "EXT"
 "ENS"
 "CNRS"

In [156]:
cubes = [0, 1, 8, 27, 64, 125, 216]

7-element Array{Int64,1}:
   0
   1
   8
  27
  64
 125
 216

In [157]:
mix = [ 1, 2, 3.0, "four"]

4-element Array{Any,1}:
 1
 2
 3.0
  "four"

In [158]:
orgs[3]

"RENNES1"

In [159]:
orgs[3] = "UNIV-RENNES1"
orgs

8-element Array{String,1}:
 "AGRO"
 "INSA"
 "UNIV-RENNES1"
 "RENNES2"
 "INRIA"
 "EXT"
 "ENS"
 "CNRS"

In [160]:
push!(cubes,7^3)

8-element Array{Int64,1}:
   0
   1
   8
  27
  64
 125
 216
 343

In [161]:
pop!(cubes)

343

In [162]:
cubes

7-element Array{Int64,1}:
   0
   1
   8
  27
  64
 125
 216

In [163]:
numbers = [[1,2,3], [4,5], [6,7,8,9]]

3-element Array{Array{Int64,1},1}:
 [1, 2, 3]
 [4, 5]
 [6, 7, 8, 9]

In [164]:
rand(4,3,2)

4×3×2 Array{Float64,3}:
[:, :, 1] =
 0.0272026  0.781264  0.607964
 0.759117   0.528723  0.143293
 0.526141   0.708448  0.0399026
 0.817362   0.462199  0.263242

[:, :, 2] =
 0.111793   0.20833   0.577278
 0.857308   0.960235  0.366256
 0.915942   0.06271   0.108514
 0.0637125  0.21991   0.465236

## Loops

## while loops

In [165]:
n = 0
while n < 5
    n += 1
    println(n)
end

1

┌ Warning: Deprecated syntax `implicit assignment to global variable `n``.
│ Use `global n` instead.
└ @ nothing none:0

2
3
4
5

In [166]:
i = 1
while i <= length(orgs)
    org = orgs[i]
    println(" - $org ")
    i += 1
end

 - AGRO

┌ Warning: Deprecated syntax `implicit assignment to global variable `i``.
│ Use `global i` instead.
└ @ nothing none:0

 - INSA
 - UNIV-RENNES1
 - RENNES2
 - INRIA
 - EXT
 - ENS
 - CNRS

## for loops

In [167]:
for n in 1:5
    println(n)
end

┌ Warning: Deprecated syntax `implicit assignment to global variable `n``.
│ Use `global n` instead.
└ @ nothing none:0
┌ Warning: Loop variable `n` overwrites a variable in an enclosing scope. In the future the variable will be local to the loop instead.
└ @ nothing none:0

1
2
3
4
5

In [168]:
for org in orgs
    println(" - $org ")
end

 - AGRO
 - INSA
 - UNIV-RENNES1
 - RENNES2
 - INRIA
 - EXT
 - ENS
 - CNRS

`in` could be replace with `=`

In [169]:
for n = 1:5
    println(n)
end

┌ Warning: Deprecated syntax `implicit assignment to global variable `n``.
│ Use `global n` instead.
└ @ nothing none:0
┌ Warning: Loop variable `n` overwrites a variable in an enclosing scope. In the future the variable will be local to the loop instead.
└ @ nothing none:0

1
2
3
4
5

In [170]:
m, n = 5, 5
A = zeros(m,n)
for i in 1:m
    for j in 1:n
        A[i, j] = i + j
    end
end
A

┌ Warning: Deprecated syntax `implicit assignment to global variable `i``.
│ Use `global i` instead.
└ @ nothing none:0
┌ Warning: Loop variable `i` overwrites a variable in an enclosing scope. In the future the variable will be local to the loop instead.
└ @ nothing none:0

5×5 Array{Float64,2}:
 2.0  3.0  4.0  5.0   6.0
 3.0  4.0  5.0  6.0   7.0
 4.0  5.0  6.0  7.0   8.0
 5.0  6.0  7.0  8.0   9.0
 6.0  7.0  8.0  9.0  10.0

In [171]:
m, n = 5, 5
B = zeros(m,n)
for i in 1:m, j in 1:n
    B[i, j] = i + j
end
B

┌ Warning: Deprecated syntax `implicit assignment to global variable `i``.
│ Use `global i` instead.
└ @ nothing none:0

5×5 Array{Float64,2}:
 2.0  3.0  4.0  5.0   6.0
 3.0  4.0  5.0  6.0   7.0
 4.0  5.0  6.0  7.0   8.0
 5.0  6.0  7.0  8.0   9.0
 6.0  7.0  8.0  9.0  10.0

In [172]:
C = [i + j for i in 1:m, j in 1:n]

5×5 Array{Int64,2}:
 2  3  4  5   6
 3  4  5  6   7
 4  5  6  7   8
 5  6  7  8   9
 6  7  8  9  10

## Conditionals

In [173]:
n = 100000
k = 0
while n > 1
    if n % 2 == 0
        n = n / 2
    else
        n = 3*n+1
    end
    k += 1
end
k

┌ Warning: Deprecated syntax `implicit assignment to global variable `n``.
│ Use `global n` instead.
└ @ nothing none:0
┌ Warning: Deprecated syntax `implicit assignment to global variable `n``.
│ Use `global n` instead.
└ @ nothing none:0
┌ Warning: Deprecated syntax `implicit assignment to global variable `k``.
│ Use `global k` instead.
└ @ nothing none:0

128

In [174]:
n = 100000
k = 0
while n > 1
    n % 2 == 0 ? n /= 2 : n = 3*n+1
    k += 1
end
k

┌ Warning: Deprecated syntax `implicit assignment to global variable `n``.
│ Use `global n` instead.
└ @ nothing none:0
┌ Warning: Deprecated syntax `implicit assignment to global variable `n``.
│ Use `global n` instead.
└ @ nothing none:0
┌ Warning: Deprecated syntax `implicit assignment to global variable `k``.
│ Use `global k` instead.
└ @ nothing none:0

128

### Short-circuit evaluation

In [175]:
( k % 2 == 0 ) && println(" $k is even")

 128 is even