## Data structures

In [40]:
phonebook = Dict("Pierre" => 34308, "Marie-Aude" => 36040)

Dict{String,Int64} with 2 entries:
  "Pierre"     => 34308
  "Marie-Aude" => 36040

In [41]:
phonebook["Chantal"] = 35041

35041

In [42]:
phonebook

Dict{String,Int64} with 3 entries:
  "Pierre"     => 34308
  "Marie-Aude" => 36040
  "Chantal"    => 35041

values type must be the same for all items.

### Access to `Dict` values

In [43]:
phonebook["Pierre"]

34308

In [44]:
pop!(phonebook,"Chantal")

35041

In [45]:
phonebook

Dict{String,Int64} with 2 entries:
  "Pierre"     => 34308
  "Marie-Aude" => 36040

### Tuples

In [46]:
teams = ("ANANUM","EDP","G&S","GA","GAE","GAN","MECA","PROC-STOC",
 "STAT","THEO-ERG")

("ANANUM", "EDP", "G&S", "GA", "GAE", "GAN", "MECA", "PROC-STOC", "STAT", "THEO-ERG")

In [47]:
teams[1]

"ANANUM"

In [48]:
teams[1:3]

("ANANUM", "EDP", "G&S")

In [49]:
teams[:2]

"EDP"

### Arrays

In [50]:
orgs = ["AGRO", "INSA", "RENNES1", "RENNES2", "INRIA", "EXT", "ENS", "CNRS"]

8-element Array{String,1}:
 "AGRO"
 "INSA"
 "RENNES1"
 "RENNES2"
 "INRIA"
 "EXT"
 "ENS"
 "CNRS"

In [68]:
@show cubes = [0, 1, 8, 27, 64, 125, 216]
length(cubes), ndims(cubes)

cubes = [0, 1, 8, 27, 64, 125, 216] = [0, 1, 8, 27, 64, 125, 216]

(7, 1)

In [69]:
mix = [ 1, 2, 3.0, "four"]

4-element Array{Any,1}:
 1
 2
 3.0
  "four"

In [70]:
orgs[3]

"UNIV-RENNES1"

In [71]:
orgs[3] = "UNIV-RENNES1"
orgs

8-element Array{String,1}:
 "AGRO"
 "INSA"
 "UNIV-RENNES1"
 "RENNES2"
 "INRIA"
 "EXT"
 "ENS"
 "CNRS"

In [72]:
push!(cubes,7^3)

8-element Array{Int64,1}:
   0
   1
   8
  27
  64
 125
 216
 343

In [73]:
pop!(cubes)

343

In [74]:
cubes

7-element Array{Int64,1}:
   0
   1
   8
  27
  64
 125
 216

In [75]:
numbers = [[1,2,3], [4,5], [6,7,8,9]]

3-element Array{Array{Int64,1},1}:
 [1, 2, 3]
 [4, 5]
 [6, 7, 8, 9]

In [76]:
rand(4,3,2)

4×3×2 Array{Float64,3}:
[:, :, 1] =
 0.813922   0.0910158  0.63498
 0.886053   0.877011   0.487386
 0.541298   0.694729   0.935166
 0.0803883  0.195009   0.862022

[:, :, 2] =
 0.817138  0.730805  0.51088
 0.740038  0.731978  0.721453
 0.607377  0.117225  0.988006
 0.744204  0.198826  0.14662

# Iterators

In [77]:
@show seq = 1:10
typeof(seq)

seq = 1:10 = 1:10

UnitRange{Int64}

In [78]:
@show linseq = 0:0.1:1.0
typeof(linseq)

linseq = 0:0.1:1.0 = 0.0:0.1:1.0

StepRangeLen{Float64,Base.TwicePrecision{Float64},Base.TwicePrecision{Float64}}

In [79]:
@show x = collect(linseq)
typeof(x)

x = collect(linseq) = [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

Array{Float64,1}

In [82]:
x[1],  x[end-1], x[end]

(0.0, 0.9, 1.0)

In [89]:
A=[1 2 ; 3 4]

2×2 Array{Int64,2}:
 1  2
 3  4

In [92]:
[A A]

2×4 Array{Int64,2}:
 1  2  1  2
 3  4  3  4

In [88]:
@show [ A A] == hcat( A, A)

[A A] == hcat(A, A) = true

true

In [93]:
vcat(A, A)

4×2 Array{Int64,2}:
 1  2
 3  4
 1  2
 3  4

In [94]:
A[2,:]

2-element Array{Int64,1}:
 3
 4

In [95]:
A[end,end]

4

In [96]:
B=[1,2,3,4]

4-element Array{Int64,1}:
 1
 2
 3
 4

In [100]:
B=[1;2;3;4]

4-element Array{Int64,1}:
 1
 2
 3
 4

# Array comprehension

In [101]:
x=0:0.2:1;
V=[ x[i]^(j-1) for i=1:6, j=1:6]

6×6 Array{Float64,2}:
 1.0  0.0  0.0   0.0    0.0     0.0
 1.0  0.2  0.04  0.008  0.0016  0.00032
 1.0  0.4  0.16  0.064  0.0256  0.01024
 1.0  0.6  0.36  0.216  0.1296  0.07776
 1.0  0.8  0.64  0.512  0.4096  0.32768
 1.0  1.0  1.0   1.0    1.0     1.0

In [102]:
V=[ x^(j-1) for x=0:0.2:1, j=1:6]

6×6 Array{Float64,2}:
 1.0  0.0  0.0   0.0    0.0     0.0
 1.0  0.2  0.04  0.008  0.0016  0.00032
 1.0  0.4  0.16  0.064  0.0256  0.01024
 1.0  0.6  0.36  0.216  0.1296  0.07776
 1.0  0.8  0.64  0.512  0.4096  0.32768
 1.0  1.0  1.0   1.0    1.0     1.0