## Data structures

In [145]:
phonebook = Dict("Pierre" => 34308, "Marie-Aude" => 36040)

Dict{String,Int64} with 2 entries:
  "Pierre"     => 34308
  "Marie-Aude" => 36040

In [146]:
phonebook["Chantal"] = 35041

35041

In [147]:
phonebook

Dict{String,Int64} with 3 entries:
  "Pierre"     => 34308
  "Marie-Aude" => 36040
  "Chantal"    => 35041

values type must be the same for all items.

### Access to `Dict` values

In [148]:
phonebook["Pierre"]

34308

In [149]:
pop!(phonebook,"Chantal")

35041

In [150]:
phonebook

Dict{String,Int64} with 2 entries:
  "Pierre"     => 34308
  "Marie-Aude" => 36040

### Tuples

In [151]:
teams = ("ANANUM","EDP","G&S","GA","GAE","GAN","MECA","PROC-STOC",
 "STAT","THEO-ERG")

("ANANUM", "EDP", "G&S", "GA", "GAE", "GAN", "MECA", "PROC-STOC", "STAT", "THEO-ERG")

In [152]:
teams[1]

"ANANUM"

In [153]:
teams[1:3]

("ANANUM", "EDP", "G&S")

In [154]:
teams[:2]

"EDP"

### Arrays

In [155]:
orgs = ["AGRO", "INSA", "RENNES1", "RENNES2", "INRIA", "EXT", "ENS", "CNRS"]

8-element Array{String,1}:
 "AGRO"
 "INSA"
 "RENNES1"
 "RENNES2"
 "INRIA"
 "EXT"
 "ENS"
 "CNRS"

In [156]:
cubes = [0, 1, 8, 27, 64, 125, 216]

7-element Array{Int64,1}:
   0
   1
   8
  27
  64
 125
 216

In [157]:
mix = [ 1, 2, 3.0, "four"]

4-element Array{Any,1}:
 1
 2
 3.0
  "four"

In [158]:
orgs[3]

"RENNES1"

In [159]:
orgs[3] = "UNIV-RENNES1"
orgs

8-element Array{String,1}:
 "AGRO"
 "INSA"
 "UNIV-RENNES1"
 "RENNES2"
 "INRIA"
 "EXT"
 "ENS"
 "CNRS"

In [160]:
push!(cubes,7^3)

8-element Array{Int64,1}:
   0
   1
   8
  27
  64
 125
 216
 343

In [161]:
pop!(cubes)

343

In [162]:
cubes

7-element Array{Int64,1}:
   0
   1
   8
  27
  64
 125
 216

In [163]:
numbers = [[1,2,3], [4,5], [6,7,8,9]]

3-element Array{Array{Int64,1},1}:
 [1, 2, 3]
 [4, 5]
 [6, 7, 8, 9]

In [164]:
rand(4,3,2)

4×3×2 Array{Float64,3}:
[:, :, 1] =
 0.0272026  0.781264  0.607964
 0.759117   0.528723  0.143293
 0.526141   0.708448  0.0399026
 0.817362   0.462199  0.263242

[:, :, 2] =
 0.111793   0.20833   0.577278
 0.857308   0.960235  0.366256
 0.915942   0.06271   0.108514
 0.0637125  0.21991   0.465236